*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    min-height: 100vh;
background-image: linear-gradient(135deg, #153677,#4e085f);
    padding: 10px;
}
.todo-app{
    background-color: #fff;
    margin: 100px auto 20px;
    width: 100%;
    max-width: 540px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #edeef0;
    margin-bottom: 25px;
    padding-left: 20px;
    border-radius: 30px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    background: #ff5945;
    color: #fff;
    padding: 16px 50px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
}
ul li {
    list-style: none;
    font-size: 17px;
        padding: 12px 8px 12px 50px;
        user-select: none;
        cursor: pointer;
        position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    
    height: 28px;
    width: 28px;
    border-radius: 50%;
    top: 12px;
    left: 8px;
    background-position: center;
}
ul li.checked{
    text-decoration: line-through;
    color:#555;
}
ul li.checked::before{
 background-image: url(/images/checked.png);
}
ul li .delete-btn{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
ul li .delete-btn:hover{
    background: #edeef0;
    color: #ff5945;
}
